<%= render 'menubar' %>
<h2>The Importance of Baby Teeth</h2>
<p>Baby teeth play a vital role in holding the space for permanent teeth. In addition, they allow your child to eat and learn to talk.</p>

<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to 'Home', dental_index_path %></li>
		<li><%= link_to "Next: Cavities", cav_intro_path %><li>
	</ul>
</div>
</header>