<%= render 'menubar' %>

<h2>Cavities</h2>
<h3>How do they form?</h3>
<h4>Transmission through Food Sharing</h4>
<p>Since cavities can transfer from person to person, it is important not to share food or utensils with your child, or allow siblings to share with each other, because bacteria can spread between mouths. Also, address your own dental needs and maintain good oral hygiene to reduce the child’s exposure to cavity-causing bacteria.</p>
<br>

<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to "Cavity Formation: Part 3", cav_form_3_path %></li>
		<li><%= link_to "Next: Cavity Prevention", cav_prev_1_path %></li>
	</ul>
</div>
</header>