<%= render 'menubar' %>

<h2>Cavities</h2>
<h3>How do they form?</h3>
<h4>Milk at Night</h4>
<p>Although milk is healthy to help your child grow, your child should not take a bottle of milk or breast milk to bed. If your child drinks milk before bed, it is important to brush their teeth AFTER to prevent cavities from forming. Only water is allowed after brushing your child’s teeth at night.</p>
<br>


<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to "Cavity Formation: Part 2", cav_form_2_path %></li>
		<li><%= link_to "Cavity Formation: Part 4", cav_form_4_path %><li>
	</ul>
</div>
</header>