<%= render 'menubar' %>

<h2>Cavities</h2>
<h3>How do we prevent them?</h3>
<h4>Fluoride!</h4>
<p>Fluoride is like a vitamin for teeth! Miami-Dade county has safe levels in the water, so it is a good idea to give your child tap water.</p>



<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to "Back to Cavity Formation: Part 4", cav_form_4_path %></li>
		<li><%= link_to "Next: Cavity Prevention: Part 2", cav_prev_2_path %></li>
	</ul>
</div>
</header>