<%= render 'menubar' %>
<h2>Cavities</h2>
<h3>How do they form?</h3>
<h4>Poor Oral Hygiene</h4>
<p>Once a child has a cavity, it is more likely that the child will develop more cavities because the bacteria spread from one tooth to another. One way to detect if you child is prone to cavities is visible plaque on the upper front teeth. Plaque is a soft, sticky biofilm made up of bacteria and bacterial products, is off white to light yellow in color, and usually starts building up closest to the gums. </p>
<br>
<footer>
	<div class="tut-nav">
		<ul>
			<li><%= link_to "What Cavities Are", cav_intro_path %></li>
			<li><%= link_to "Cavity Formation: Part 2", cav_form_2_path %></li>
		</ul>
	</div>
</footer>