<%= render 'menubar' %>
<h2>Cavities</h2>
<h3>How do we prevent them?</h3>
<h4>Regular Dental Checkups</h4>
<p>Make sure you have a dental home where you can take your child for regular visits every 6 months. At the dentist you can receive counseling about appropriate diet, oral hygiene and oral development. The dentist will also take x-rays and do a thorough clinical exam to catch the cavities while they are small. This can help prevent the spread of cavities to other teeth.</p>

<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to "Cavity Prevention: Part 3", cav_prev_3_path %></li>
		<li><%= link_to "Home", dental_index_path %></li>
	</ul>
</div>
</header>