<%= render 'menubar' %>

<h2>Cavities</h2>
<h3>How do we prevent them?</h3>
<h4>Brushing!</h4>
<p>If your child is under 6.5 years old, you should brush with your child for two minutes in the morning and before bed. Below this age, they usually don’t have the manual dexterity to brush by themselves. Toothpaste should contain fluoride, and using a smear of toothpaste for children aged 0-2 and a pea-sized amount for children aged 2-5 will protect your child’s teeth.</p>

<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to "Cavity Prevention: Part 1", cav_prev_1_path %></li>
		<li><%= link_to "Cavity Prevention: Part 3", cav_prev_3_path %><li>
	</ul>
</div>
</header>